[Unit]
Description=Media Processor Service
After=network.target

[Service]
User=YOUR_USERNAME  # Use o usuário correto que executa o qbittorrent
WorkingDirectory=/PATH/TO/media-processor/
ExecStart=/PATH/TO/media-processor/scripts/media-processor-cli.sh --monitor
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
